@model PastoralEmpleo.ViewModel.ExperienceInformationViewModel
@{
    ViewData["Title"] = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>

    <div class="row">

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Candidate", "Inscription")" class="btn btn-info" style="color:#004D97"><i class="zmdi zmdi-plus"></i> &nbsp; PERSONALES</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Studies", "Inscription")" class="btn btn-success" style="color:#004D97"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; FORMACIÓN</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Experience", "Inscription")" class="btn btn-primary" style="color:#004D97"><i class="zmdi zmdi-search"></i> &nbsp; EXPERIENCIA</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Document", "Inscription")" class="btn btn-danger" style="color:#004D97"><i class="zmdi zmdi-comment-list"></i> &nbsp; OTROS DOCUMENTOS</a>
        </div>

        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-center"><i class="zmdi zmdi-account zmdi-hc-fw"></i> <small style="color:mediumblue">Experiencia Laboral</small></h1>
            </div>
        </div>



        <div class="container-fluid">
            <div class="panel panel-info">

                @using (Html.BeginForm("Guardarlo", "Inscription", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()

                    <fieldset>



                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Companyname, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Companyname, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Position, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idworkstatus, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idworkstatus, Model.WorkStatusList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    @Html.LabelFor(model => model.initialperiod, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.initialperiod, new { @class = "form-control", required = "required", @type = "Date" })
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Endperiod, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Endperiod, new { @class = "form-control", required = "required", @type = "Date" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Inmediateboss, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Inmediateboss, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Inmediatechiefnumbre, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Inmediatechiefnumbre, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        <label for="Document">Adjunte Certificado</label>
                                        <input type="file" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <div class="text-center">
                        <div class="margin-top: 20px">
                            <input type="submit" value="Guardarlo" class="btn btn-primary btn-bordred btn-sm" />
                        </div>
                    </div>

                    <a href="@Url.Action("EmploymentListing", "List")" button type="button" class="btn btn-outline-primary btn-rounded w-md waves-effect waves-light m-b-5" style="color:#ffffff">Lista</a>
                }

            </div>
        </div>
    </div>


</section>

