@model PastoralEmpleo.ViewModel.StudiesInformationViewModel

@{
    ViewData["Title"] = "Studies";
    ViewData["Description"] = "Formación";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    <div class="row">

        <div class="container-fluid">
            <div class="panel panel-info">

                @using (Html.BeginForm("Studies", "Studies", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <fieldset>

                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.School, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.School, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idstudylevel, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idstudylevel, Model.StudyLevelList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Obtainedtitle, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Obtainedtitle, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idacademicstate, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idacademicstate, Model.academicStateList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Startdate, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Startdate, new { @class = "form-control", required = "required", @type = "Date" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Enddate, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Enddate, new { @class = "form-control", required = "required", @type = "Date" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idperiodicity, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idperiodicity, Model.PeriodicityList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label" })
                                        <input type="file" name="File" class="form-control" required>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </fieldset>

                    <div class="text-center">
                        <div class="margin-top: 20px">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-bordred btn-sm" />
                        </div>
                    </div>

                    <a href="@Url.Action("StudyList", "Studies")" button type="button" class="btn btn-outline-success btn-rounded w-md waves-effect waves-light m-b-5" style="color:#ffffff"><i class="fa fa-list-alt"></i>Lista</a>
                }
            </div>
        </div>
    </div>



</section>