
@model PastoralEmpleo.ViewModel.StudiesInformationViewModel

@{
    ViewData["Title"] = "IndexStudies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section>

    <header>
        <script src="https://kit.fontawesome.com/4f0148de5d.js" crossorigin="anonymous"></script>
    </header>

    <div class="row">

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Candidate", "Inscription")" class="btn btn-info" style="color:#004D97"><i class="fas fa-user-edit"></i>PERSONALES</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("IndexStudies", "Studies")" class="btn btn-success" style="color:#004D97"><i class="fas fa-user-graduate"></i>FORMACIÓN</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("IndexExperience", "Experience")" class="btn btn-primary" style="color:#004D97"><i class="fas fa-user-tie"></i>EXPERIENCIA</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("IndexDocument", "Document")" class="btn btn-danger" style="color:#004D97"><i class="fas fa-file"></i> OTROS DOCUMENTOS</a>
        </div>

        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-center"><i class="zmdi zmdi-account zmdi-hc-fw"></i> <small style="color:seagreen">Académicos</small></h1>
            </div>
        </div>


        <div class="container-fluid">
            <div class="panel panel-info">

                @using (Html.BeginForm("Guardar", "Studies", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <fieldset>

                        <div class="container-fluid">
                            <div class="row">

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.School, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.School, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idstudylevel, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idstudylevel, Model.StudyLevelList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Obtainedtitle, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Obtainedtitle, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idacademicstate, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idacademicstate, Model.academicStateList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Startdate, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Startdate, new { @class = "form-control", required = "required", @type = "Date" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Enddate, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Enddate, new { @class = "form-control", required = "required", @type = "Date" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.Idperiodicity, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Idperiodicity, Model.PeriodicityList, "", new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group label-floating">
                                        @Html.LabelFor(model => model.FilePath, htmlAttributes: new { @class = "control-label" })
                                        <input type="file" name="File" class="form-control" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>

                    <div class="text-center">
                        <div class="margin-top: 20px">
                            <input type="submit" value="Guardar" class="btn btn-primary btn-bordred btn-sm" />
                        </div>
                    </div>

                    <a href="@Url.Action("Index", "StudyListing")" button type="button" class="btn btn-outline-success btn-rounded w-md waves-effect waves-light m-b-5" style="color:#ffffff"><i class="fas fa-layer-group"></i>Lista</a>
                }
            </div>
        </div>
    </div>



</section>