@model PastoralEmpleo.Models.User
@{

    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/LayoutSecondary.cshtml";
}

<!DOCTYPE html>
<html>

  <body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>

    <div class="wrapper-page">
        <div class="text-center">
            <a href="index.html" class="logo"><span>Pastoral<span>Empleo</span></span></a>
            <h5 class="text-muted m-t-0 font-600">Trabaja con Nosotros</h5>
       </div>

        <div class="m-t-40 card-box">

            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Ingresa</h4>
            </div>

            <div class="p-20">

               @using (Html.BeginForm("Iniciar", "Login", FormMethod.Get))
                {

                   <div class="form-group">
                      @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label" })
                      @Html.TextBoxFor(model => model.Mail, new { @class = "form-control", required = "required" })
                   </div>

                   <div class="form-group">
                      @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                      @Html.TextBoxFor(model => model.Password, new { @class = "form-control", required = "required", Type = "password" })
                   </div>


                   <div class="form-group ">
                      <div class="col-xs-12">
                          <div class="checkbox checkbox-custom">
                              <input id="checkbox-signup" type="checkbox">
                              <label for="checkbox-signup">
                                  Recuérdame
                              </label>
                          </div>

                      </div>
                  </div>

                   <div class="form-group text-center m-t-30">
                       <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">
                          Iniciar
                       </button>
                  </div>              


                   <div class="form-group m-t-30 m-b-0">
                      <div class="col-sm-12">
                          <a href="@Url.Action("ResetPassword","Login" )" class="text-muted"><i class="fa fa-lock m-r-5"></i> Olvidades tu cotraseña?</a>
                     </div>
                  </div>

                }

            </div>
        </div>
        <!-- end card-box-->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">No tienes cuenta? <a href="@Url.Action("Register","Login" )" class="text-primary m-l-5"><b>Registrate</b></a></p>
            </div>
        </div>

    </div>

    
    <!-- end wrapper page -->
    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>

  </body>

</html>
