@{
    ViewData["Title"] = "Contact";
}


<section>

    <div class="row">

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Candidate", "Inscription")" class="btn btn-info" style="color:#004D97"><i class="zmdi zmdi-plus"></i> &nbsp; PERSONALES</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Studies", "Inscription")" class="btn btn-success" style="color:#004D97"><i class="zmdi zmdi-format-list-bulleted"></i> &nbsp; ACADÉMICOS</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Experience", "Inscription")" class="btn btn-primary" style="color:#004D97"><i class="zmdi zmdi-search"></i> &nbsp; EXPERIENCIA</a>
        </div>

        <div class="col-xs-12 col-sm-3">
            <a href="@Url.Action("Document", "Inscription")" class="btn btn-danger" style="color:#004D97"><i class="zmdi zmdi-comment-list"></i> &nbsp; OTROS DOCUMENTOS</a>
        </div>

        <div class="container-fluid">
            <div class="panel panel-info">


                @Html.AntiForgeryToken()

                <fieldset>

                    <legend><i class="zmdi zmdi-account-box"></i> &nbsp; BIENVENDOS</legend>

                </fieldset>
            </div>
        </div>

    </div>

    @*<div >
            <img src="~/images/unnamed.jpg" />
        </div>*@

</section>
