@{

ViewData["Title"] = "Index";
Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <link href="~/css/IndexStyle.css" rel="stylesheet" />
</head>

<body>
    <div id=" container">
        <header>

            <div class="image">
                <img src="~/images/unnamed.jpg" />
            </div>

            <div class="logIn">
                <label class="col-2 col-form-label" for="example-email" style="color:#ffffff">Correo</label>
                <input type="email" id="example-email" name="example-email" class="form-control">
                <label class="col-2 col-form-label" style="color:#ffffff">Password</label>
                <input type="password" class="form-control" value="password">
                <a href="@Url.Action("Login", "Login")" button type="button" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#ffffff">Ingresar</a>
                <a href="@Url.Action("Register", "Login")" button type="button" class="btn btn-default btn-rounded w-md waves-effect waves-light m-b-5" style="color:#ff0000">Registrate</a>
            </div>
        </header>

        <nav>
            <h1>TRABAJA CON NOSOTROS, <br />NECESITAMOS PERSONAS COMO TÚ</h1>
        </nav>

        <section class="content">
            <h3>CONVOCATORIAS</h3>
        </section>

        <aside>
            <img src="~/images/indice3.jpg" />

            <h3> NUESTROS PERFILES </h3>

            <div>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Educador</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Sicologo</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Trabajador Social</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Profesional Desarrollo Familiar</a>
            </div>

            <div>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Secretaria</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Coordinador Psicosocial</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Administrador Ciencias Economicas</a>
            </div>

            <div>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Educador Especial</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Digitador</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Tecnico Salud Pública</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Gestor Documental</a>
            </div>

            <div>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">cuidador</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Tecnico en Sistemas</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Administrador</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Servicios Generales</a>
                <a href="@Url.Action("Login", "Login")" class="btn btn-light btn-rounded w-md waves-effect waves-light m-b-5" style="color:#004D97">Gerontologo</a>
            </div>


        </aside>

        <footer>
            <h4>Ingresar Pagina Pastoral Social</h4>
            <a href="https://www.pastoralsocial.co/" style="color:#000000">Pastoral Social</a>
        </footer>
    </div>

</body>

</html>