@model IEnumerable<PastoralEmpleo.Models.Studies>

@{
    ViewData["Title"] = "StudyListing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>

    <section>
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="text-center"><i class="zmdi zmdi-account zmdi-hc-fw"></i> <small style="color:seagreen" >Listado Estudios</small></h1>
            </div>
        </div>


        @{
            ViewData["Title"] = "StudyListing";
        }

        <section>           

            <div class="container-fluid">
                <div class="panel panel-success">

                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-hover text-center">
                                <thead>
                                    <tr>
                                        <th class="text-center">Institución</th>
                                        <th class="text-center">Nivel Estudio</th>
                                        <th class="text-center">Título Obtenido</th>
                                        <th class="text-center">Estado Acádemico</th>
                                        <th class="text-center">Fecha Inicio</th>
                                        <th class="text-center">Fecha Finalización</th>
                                        <th class="text-center">Periodicidad</th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.School)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Idstudylevel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Obtainedtitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Idacademicstate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Startdate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Enddate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Idperiodicity)
                                        </td>


                                        <td>
                                            <ul class="breadcrumb breadcrumb-tabs">
                                                <li>
                                                    <a href="@Url.Action("Studies", "Inscription", new { id=item.Idstudies })" class="btn btn-success btn-rounded " style="color:#000000">
                                                        Editar
                                                    </a>

                                                    <a href="@Url.Action("Studies" , "Inscription", new { id=item.Idstudies })" class="btn btn-custom btn-rounded" style="color:#000000">
                                                        Agregar
                                                    </a>

                                                    <a href="@Url.Action("Studies", "Inscription", new { id=item.Idstudies })" class="btn btn-danger btn-rounded" style="color:#000000">
                                                        Borrar
                                                    </a>
                                                </li>                                              

                                            </ul>

                                        </td>


                                    </tr>
                                }


                            </table>

                           
                            <div class="col-sm-12 text-right">
                                <a href="@Url.Action("Experience", "Inscription")" class="text-primary m-l-5"><b>Siguiente</b></a></p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </section>
    </section>

</body>
